<!DOCTYPE html>
<html>
  <head>
    <title>Open book</title>

    <link rel="stylesheet" href="/vendor/styles/style.css<%= cachebust %>" />

    <% if (reload) { %>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/assets/reload-client.js"></script>
    <% } %>

    <% if (optimize) { %>
      <script src="/javascripts/main-built.js"></script>
    <% } else { %>
      <script src="/vendor/javascript/requirejs/require.js" data-main="/assets/main.js"></script>
    <% } %>

  </head>
  <body>

    <p>Welcome to an Open Book</p>

    <% if (optimize) { %>
    <p>Optimized mode.  You are getting a single RequireJS optimized JavaScript file which includes all the page dependencies.</p>
    <% } %>

  </body>
</html>